<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.servokio.vanilla">
    <queries>
        <package android:name="com.android.systemui" />
    </queries>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vanilla"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vanilla.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.utils.Test"
            android:launchMode="singleTop"
            android:exported="false">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.sub.AAboutDevice"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.sub.ALockScreenUI"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.sub.ACarrierLabel"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.sub.AHeader"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.pages.AboutApp"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.sub.WidgetsList"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.sub.ALockScreenUI"
            android:exported="false">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.sub.AQuickSettings"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.sub.ALockItems"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.sub.ALockScreenColors"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.sub.BLockscreenPreview"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:exported="false">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.utils.WallpaperEditor"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:exported="false">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedsharedprefs"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Phone settings as line in the RR firmware" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/hooked_apps" />

    </application>

</manifest>